{% extends "base.html" %}

{% block content %}

<section class="habit-wrapper">

  <table id="tracker">
    <thead>
      <tr>
        <th class="col-habit">Habit</th>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th class="col-status">Status</th>
        <th class="col-actions"></th>
      </tr>
    </thead>

    <!-- JS will fully populate this -->
    <tbody id="tracker-body"></tbody>
  </table>

</section>

<section id="patterns"></section>

{% endblock %}
